/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header styles */
#head-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


/* General styles */
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: blue
 }



/* rules container styles */
#rules-container {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  background-color: white;
  margin: 20px 10px 10px 10px;
  padding: 4em 2em;
 
}
/* start and rules button styles */
#start-rules-btn-container {
 display: relative;
  gap: 10px;
  padding: 20px;
  margin: 5px 0;
}

.dropdown-btn {
  display: none;
  position: absolute;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown-btn:hover, .dropdown-btn:focus {
  background-color: blue;
  color: #fff;
}

.dropdown-btn a {
  color: black;
  padding: 12px 13px;
  text-decoration: none;
  display: block;
}

.show {display:block;}

.dropdown-btn a:hover {background-color: #ddd;}



/* Game Container styles */
#game-container {
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  background-color: yellow;
}

/* Question styles */
#question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* Answer buttons styles */
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.answer-button {
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.answer-button:hover {
  background-color: #000;
  color: #fff;
}

/* Start,restart and next button styles */

.start-btn,
.restart-btn,
.next-btn,
.hide-btn {
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.start-btn:hover, .restart-btn:hover, .next-btn:hover, .hide-btn:hover {
  background-color: blue;
  color: #fff;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 10px 0;
}
